{% extends '_template.html.twig' %}

{% block title %} Liste Event {% endblock %}

{% block content %}
    {% include 'includes/flash.html.twig' %}
  <div class="section">
        <div class="box">
            <article class="media">
              <div class="media-left">
                <figure class="image is-64x64">
                    <img class="is-rounded" src="https://robohash.org/{{ user.nom }}?set=set5">
                </figure>
              </div>
              <div class="media-content">
                <div class="content">
                  <p>
                    <strong class="title">{{ user.pseudo}}</strong>
                    <br>
                    <strong class="has-text-primary">Liste des événements:</strong><br>
                    Vous organisez: {{ event_list|length }} évenements.
                  </p>
                </div>
            </div>
        </div>

        {% for event in event_list %}
            <div class="columns box">
              <div class="column">
                <article class="media">
                    <div class="media-left">
                        <figure class="image is-128x128">
                            <img src="https://loremflickr.com/256/256/happy/all?" alt="Image">
                        </figure>
                    </div>
                    <div class="media-content is-mobile">
                        <div class="content is-three-fifths is-offset-one-fifth">
                            <p>
                                <a href="{{path('event_page' , {id: event.id})}}" class="has-text-primary">
                                    <strong>{{event.nom}}</strong>
                                </a>
                                <br>
                                <small>Date: {{ event.date|date('d/m/Y')}}</small>
                                <br>
                                <small>Description: {{ event.description|slice(0, 50)}}</small><br>
                                <small>Prix: {{ event.price}}€</small><br>
                            <div class="field is-grouped">
                                <p class="control">
                                  <a class="button is-primary" href="{{path('modif_event', {id: event.id} )}}">
                                    <span><i class="fas fa-edit"></i>&ensp;</span>
                                    Modifier
                                  </a>
                                </p>
                            {% if is_granted("EVENT_PARTICIPATION", event) %}
                                <p class="control">
                                  <a class="button is-danger" href="{{path('event_delete', {id: event.id} )}}">
                                    <span><i class="fas fa-trash-alt"></i>&ensp;</span>
                                    Supprimer
                                  </a>
                                </p>
                            {% endif %}
                              </div>
                            </p>
                </article>
            </div>

              <div class="column is-three-fifths">
                <article class="media is-centered ">
                    <div class="media-content is-mobile">
                            <strong class="has-text-primary">Liste des participants: {{ event.users|length }}</strong>

                            <br><br>
                            <div class="columns is-multiline">
                                {% for item in event.users %}
                                    <div class="column is-one-fifth">
                                        <figure class="image is-32x32">
                                            <img class="is-rounded" src="https://robohash.org/{{ item.nom }}?set=set5">
                                        </figure>
                                        <div>{{item.pseudo}}</div>
                                    </div>
                                {% endfor %}
                            </div>
                    </div>
                </article>
            </div>

          </div><br>

        </div>
      </div>


    {% endfor %}

  </div>

{% endblock %}