{% extends '_template.html.twig' %}

{% block title %} Liste Event {% endblock %}

{% block content %}
    {% include 'includes/flash.html.twig' %}
    <div class="section">
        <div class="box">
            <h1 class="title"> {{ user.pseudo}} </h1>
            <strong>Liste des événements:</strong>
            <p>Vous organisez: {{ event_list|length }} évenements</p> 
        </div>

            {% for event in event_list %}
                
            <div class="box">
                <article class="media">
                    <div class="media-left">
                        <figure class="image is-128x128">
                            <img src="https://loremflickr.com/256/256/happy/all?" alt="Image">
                        </figure>
                    </div>
                    <div class="media-content is-mobile">
                        <div class="content is-three-fifths is-offset-one-fifth">
                            <p>
                                <a href="" class="has-text-primary">
                                    <strong>{{event.nom}}</strong>
                                </a>
                                <small>{{ event.date|date('d/m/Y')}}</small>
                                <br>
                                <small>{{ event.description|slice(0, 50)}}</small><br>
                                <small>prix: {{ event.price}}€</small><br>
                            </p>
                            <div class="field is-grouped is-grouped-right">
                                <p class="control">
                                  <a class="button is-primary" href="{{path('modif_event', {id: event.id} )}}">
                                    <span><i class="fas fa-edit"></i>&ensp;</span>
                                    Submit
                                  </a>
                                </p>
                            {% if is_granted("EVENT_PARTICIPATION", event) %}
                                <p class="control">
                                  <a class="button is-danger" href="{{path('event_delete', {id: event.id} )}}">
                                    <span><i class="fas fa-trash-alt"></i>&ensp;</span>
                                    Cancel
                                  </a>
                                </p>
                            {% endif %}
                              </div>
                        </div>
                    </div>
                </article>
            </div>
        {% endfor %}

    </div>

    {% endblock %}