
{% extends '_template.html.twig' %}

{% block title %} Event {% endblock %}

{% block content %}

    <div class="section">
        <h1 class="title"> Event: {{ event_list|length }} </h1>
            {% for event in event_list %}
                    <div class="box">
                        <article class="media">
                            <div class="media-left">
                                <figure class="image is-128x128">
                                    <img src="https://loremflickr.com/256/256/happy/all?lock={{event.id}}" alt="Image">
                                </figure>
                            </div>
                            <div class="media-content">
                                <div class="content">
                                    <p>
                                        <a href="{{path('event_page', {id: event.id})}}" class="has-text-primary">
                                            <strong>{{event.nom}}</strong>
                                        </a>
                                        <br>
                                        <small>Date événement: {{ event.date|date('Y.M.j')}}</small>
                                        <br>
                                        <small>Organisé par: 
                                            <a href="" class="has-text-black">
                                                <strong>{{event.user.nom}}  {{event.user.prenom}}</strong>
                                            </a>
                                        </small><br>
                                        
                                        {{event.description|slice(0, 50)}}
                                    </p>
                                </div>
                            </div>
                        </article>
                    </div>
            {% endfor %}
 
    </div>
    <nav class="pagination" role="navigation" aria-label="pagination">
        <a class="pagination-previous" title="This is the first page" disabled>Previous</a>
        <a class="pagination-next">Next page</a>
        <ul class="pagination-list">
          <li>
            <a class="pagination-link is-current" aria-label="Page 1" aria-current="page">1</a>
          </li>
          <li>
            <a class="pagination-link" aria-label="Goto page 2">2</a>
          </li>
          <li>
            <a class="pagination-link" aria-label="Goto page 3">3</a>
          </li>
        </ul>
      </nav>

{% endblock %}
