{% extends "base.html.twig" %}


{% block title %} Accueil  {% endblock %}



{% block body %} 

<nav class="navbar has-background-grey-lighter">
    <div class="navbar-brand">
        <a class="navbar-item" href="{{path('home')}}">
            <p class="subtitle is-4 has-text-primary">
                <i class="fab fa-battle-net"></i> <b>EvenTime</b>
            </p>
        </a>

        <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
        </a>
    </div>

    <div id="navbarBasicExample" class="navbar-menu">
        <div class="navbar-start">
            <a class="navbar-item" href="#">
                Nouveautés
            </a>
            <div class="navbar-item has-dropdown is-hoverable">
                <a class="navbar-item" href="#">
                    Mes événements
                </a>
                <div class="navbar-dropdown">
                    <a class="navbar-item" href="{{path('liste_event')}}">
                        Lister
                    </a>
                    <a class="navbar-item is-active" href="{{path('theme_event')}}">
                        Thémes
                    </a>
                </div>
            </div>
        </div>
        <a class="navbar-item">
            <form action="#">
                <div class="field has-addons">
                    <div class="control is-expanded">
                        <input name="query" type="text" class="input is-small" placeholder="Recherche ..." required>
                    </div>
                    <div class="control">
                        <button type="submit" class="button is-primary is-small">
                            <i class="fas fa-search"></i>
                        </button>
                    </div>
                </div>
            </form>
        </a>
        <div class="navbar-end">
            <div class="navbar-item">
                <div class="buttons">
                    {% if app.user %}
                    <a class="navbar-item" href="{{path('liste_event_profil')}}">
                        Mes événements
                    </a>
                    <a class="navbar-item" href="#">
                        Mes Participations
                    </a>
                    <a class="button is-primary is-small" href="{{path('add_event')}}">
                        <strong>
                            <span class="icon">
                                <i class="far fa-calendar-check fa-x"></i>
                            </span>&ensp;
                                YourEvent
                        </strong>
                    </a>
                    <div class="navbar-item has-dropdown is-hoverable">
                        <a class="button is-primary is-small" href="{{path('account_profil')}}">
                            <span><i class="fas fa-user"></i></span>&ensp;
                            <strong> {{ app.user.pseudo }}</strong>
                        </a>
                        <div class="navbar-dropdown">
                          <a class="navbar-item" href="{{path('info_profil')}}">
                            <span><i class="fas fa-cogs"></i></span>&ensp;
                            Information Personnel
                          </a>
                          <a class="navbar-item is-active" href="{{path('mdp_profil')}}">
                            <span><i class="fas fa-lock"></i></span>&ensp;
                            Confidentialité
                          </a>
                          <a class="navbar-item" href="">
                            <span><i class="far fa-credit-card"></i></span>&ensp;
                            Payment
                          </a>

                      </div>
                    </div>
                    <a class="button is-danger is-small" href="{{path('app_logout')}}">
                        <span><i class="fas fa-sign-out-alt"></i></span>
                    </a>

                    {% else %}
                        <a class="button is-primary is-small" href="{{path('inscription')}}">
                            <strong>Inscription</strong>
                        </a>
                        <a class="button is-light is-small" href="{{path('app_login')}}">
                            <span><i class="fas fa-user-lock"></i>&ensp;</span>
                            Connexion
                        </a>
                    {% endif %}
                    {% if is_granted("ROLE_EDITOR") %}
                            <a class="button is-primary is-small" href="">
                                <span class="icon"><i class="fas fa-user-cog fa-1x"></i></span>&ensp;
                        <strong> Back_Office</strong>
                            </a>
                    {% endif %}
                </div>
            </div>
           
        </div>
    </div>
</nav>

{# Bloc qui contiendra le contenu de chaque page #}
{% block content %}{% endblock %}

{% endblock %}