{% extends "_template.html.twig" %}

{% block title %}Modifier InfoPerso{% endblock %}

{% block content %}
  
    <div class="columns is-mobile section">
        <h3 class="box subtitle column is-three-fifths is-offset-one-fifth">
           {{user.pseudo}} <i class="fas fa-address-card"></i><br> 
            <small> Modifier vos informations personnel</small>
           
        </h1>
        {# Formuliare 1: pour modifier Email ou Pseudo  #}
    </div>
                {{ form_start(account_profil) }}
            <div class="columns is-centered section">
                <div class="column is-one-third box">
                    <h2 class=""></h2><br>
                    {{ form_row(account_profil.nom, {label: "Nom:"}) }}
                    {{ form_row(account_profil.prenom, {label: "Prénom:"}) }}
                    {{ form_row(account_profil.email, {label: "Adresse Email:"}) }}
                    {{ form_row(account_profil.pseudo, {label: "Pseudo:"}) }}
                    {{ form_row(account_profil.telephone, {label: "Téléphone:"}) }}
                    <button type="submit" class="button is-primary is-fullwidth">Valider</button>

            {{ form_end(account_profil) }}
                </div>


    </div>
{% endblock %}


